<!DOCTYPE html>
<html>

<head>
    <%- include('partials/_head') %>
</head>

<body>
    <div class="container">
        <%- include('partials/_navbar') %>

        <div class="jumbotron">
            <h1>Edit your TinyURL</h1>
            <p class="lead">Check out your shortened urls below!</p>
        </div>

        <%- include('partials/_errors') %>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group pull-right">
                    <a href="/u/<%= currentID %>" role="button" class="btn btn-info" target="_blank">Follow</a>
                    <a href="/urls" role="button" class="btn btn-primary">View All TinyURLs</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 list-group">
                <form  method="POST" action="/urls/<%= currentID %>?_method=PUT" class="form-horizontal">
                    <div class="form-group">
                        <label for="inputTinyURLID" class="col-sm-2 control-label">TinyURL ID</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputTinyURLID" placeholder="TinyURL ID" value="<%= currentID %>" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLongURL" class="col-sm-2 control-label">Long URL</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputLongURL" name="inputLongURL" placeholder="Long URL Here" value="<%= siteData.urlDatabase[currentID].longURL %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputVisits" class="col-sm-2 control-label">Visits</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputVisits" name="inputVisits" value="<%= siteData.urlDatabase[currentID].visits %>" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputVisits" class="col-sm-2 control-label">Unique Visits</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputVisits" name="inputVisits" value="<%= siteData.urlDatabase[currentID].uniqueVisitorIDs.size %>" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                    </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Visitor ID</th>
                                <th>Date/Time Visited</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (Object.keys(visitHistory).length === 0) { %>
                                <tr>
                                    <td colspan="2"><span>Sorry, there are no visitor logs for this TinyURL!</span></td>
                                </tr>
                            <% } else { %>
                                <% for (key in visitHistory) { %>
                                    <tr>
                                        <td><%= visitHistory[key].visitorID %></td>
                                        <td><%= visitHistory[key].dateVisited %></td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <%- include('partials/_footer') %>
    </div>
</body>

</html>