<!DOCTYPE html>
<html>

<head>
    <%- include('partials/_head') %>
</head>

<body>
    <div class="container">
        <%- include('partials/_navbar') %>

        <div class="jumbotron">
            <h1>Edit your TinyURL</h1>
            <p class="lead">Check out your shortened urls below!</p>
        </div>

        <%- include('partials/_errors') %>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group pull-right">
                    <a href="/urls" role="button" class="btn btn-info">View All TinyURLs</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form  method="POST" action="/urls/<%= currentID %>?_method=PUT" class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">TinyURL ID</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputTinyURLID" placeholder="TinyURL ID" value="<%= currentID %>" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Long URL</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputLongURL" name="inputLongURL" placeholder="Long URL Here" value="<%= siteData.urlDatabase[currentID].longURL %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Update</button>
                        </div>
                    </div>
                    </form>
            </div>
        </div>

        <%- include('partials/_footer') %>
    </div>
</body>

</html>